cmd/avgping/avgping
cmd/avgping/avgping.exe
cmd/*/version.go
cmd/pingmesh/pingmesh
cmd/pingmesh/pingmesh.exe
*.bak
bak/
*.out
TAGS

# emacs backup files
*~
*#
.#*

# outline-mode internal documentation
*.om
